<p id="notice"><%= notice %></p>

<h1>Web Tables</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @web_tables.each do |web_table| %>
      <tr>
        <td><%= link_to 'Show', web_table %></td>
        <td><%= link_to 'Edit', edit_web_table_path(web_table) %></td>
        <td><%= link_to 'Destroy', web_table, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Web Table', new_web_table_path %>
