<h1>
  <%= @table %>

</h1>

<%= link_to "Back", web_tables_path %>

<hr>

<div class="table-responsive">
  <table class="table table-hover table-bordered">
    <thead class="thead-inverse">
      <th>Name</th>
      <th>SQL Type</th>
      <th>Default</th>
      <th>Type</th>
      <th>Limit</th>
      <th>Null</th>
      <th>Precision</th>
      <th>Scale</th>
    </thead>

    <tbody>
      <% @table.classify.safe_constantize.columns.each do |column| %>
      <tr>
        <td>
          <%= column.name	 %>
        </td>

        <td>
          <%= column.sql_type	 %>
        </td>

        <td>
          <%= column.default	 %>
        </td>

        <td>
          <%= column.type	 %>
        </td>

        <td>
          <%= column.limit	 %>
        </td>

        <td>
          <%= column.null	 %>
        </td>

        <td>
          <%= column.precision	 %>
        </td>

        <td>
          <%= column.scale	 %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<p class="lead">
  What would you like to do?
</p>

<div class="btn-group-vertical btn-block">
  <a href="#" class="btn btn-secondary">
    Add a column (foreign key, reference)
  </a>

  <a href="#" class="btn btn-secondary">
    Drop a column
  </a>

  <a href="#" class="btn btn-secondary">
    Rename a column
  </a>

  <a href="#" class="btn btn-secondary">
    Add a default value for a column
  </a>

  <a href="#" class="btn btn-secondary">
    Add an index to a column
  </a>

  <a href="#" class="btn btn-secondary">
    Drop the whole table
  </a>
</div>
