<%= form_with(model: casting, local: true) do |form| %>
  <% if casting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(casting.errors.count, "error") %> prohibited this casting from being saved:</h2>

      <ul>
      <% casting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :movie_id %>
    <%= form.text_field :movie_id, id: :casting_movie_id %>
  </div>

  <div class="field">
    <%= form.label :actor_id %>
    <%= form.text_field :actor_id, id: :casting_actor_id %>
  </div>

  <div class="field">
    <%= form.label :character_name %>
    <%= form.text_field :character_name, id: :casting_character_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
