<p id="notice"><%= notice %></p>

<h1>Castings</h1>

<table>
  <thead>
    <tr>
      <th>Movie</th>
      <th>Actor</th>
      <th>Character name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @castings.each do |casting| %>
      <tr>
        <td><%= casting.movie %></td>
        <td><%= casting.actor %></td>
        <td><%= casting.character_name %></td>
        <td><%= link_to 'Show', casting %></td>
        <td><%= link_to 'Edit', edit_casting_path(casting) %></td>
        <td><%= link_to 'Destroy', casting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Casting', new_casting_path %>
